<div data-page="display-{{_key}}" class="page contact-display">
  <!-- Top Navbar-->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left sliding">
        <a href="#" class="link" onclick="mainView.loadPage('index.html')">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span>Back</span>
        </a>
      </div>
      <div class="right contact-edit-link">
        <a href="#" onclick="f7.editContact('{{_global_key}}')" class="link icon-only">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- /End of Top Navbar-->
  <div class="page-content">
    <div class="contact-header">
      <div class="item-photo">
        {{#if picture}}
        <img src="{{picture.url}}" width="44">
        {{else}}
        <img src="/docs/web/images/avatar_unknown.png?height=60&amp;width=60" width="44">
        {{/if}}
      </div>
      <div class="header-text">
        {{#if isactiveuser}}
        <i class="fa fa-star" aria-hidden="true"></i>
        {{/if}}
        <h3>{{name}}</h3>
        {{#if companyid}}
        <p>{{companyid.name}}</p>
        {{/if}}
      </div>
    </div>

    <div class="list-block">
      <div class="list-group">
        <ul>
          {{#if mainphone}}
          <li>
            <a href="tel:{{mainphone}}" class="item-link item-content external">
              <div class="item-media"><i class="fa fa-phone" aria-hidden="true"></i></div>
              <div class="item-inner">
                <div class="item-title">{{mainphone}}</div>
              </div>
            </a>
          </li>
          {{/if}}
          {{#if email}}
          <li>
            <a href="mailto:{{email}}" class="item-link item-content external">
              <div class="item-media"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
              <div class="item-inner">
                <div class="item-title">{{email}}</div>
              </div>
            </a>
          </li>
          {{/if}}

          {{#if displayaddress}}
          <li class="item-content">
            <div class="item-media"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <div class="item-inner">
              <div class="item-title">{{escape displayaddress}} {{displaysuburbcity}}</div>
            </div>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>