<div class="page-header">
    <!-- <h2>{{'options_tab_ui' | tr}}</h2> -->
    <section class="settings-group">
    <h3>Proxee.Net Browser Proxy</h3><br>
    <div id='firstInitialize'>
        <!-- <label>Click Here</label> --><p>Thank you for choosing Proxee.net. To set up please press 'Initialize'.</p>
        <div class="input-group width-limit">
            <span class="input-group-btn"><button ng-click="restoreOnline()" ladda="restoringOnline" data-spinner-color="#000000" class="btn btn-default"><span class="glyphicon glyphicon-lock"></span> {{'options_restoreOnlineSubmit' | tr}}</button></span>
        </div>
        <br><br><br>
        <p id='initFooter'> For more information about our service please visit <a href="http://browserproxy.chicago1.proxee.net/">Proxee.net</a>.

    </div>
    </section>
</div>