.test-test {
	
}

.contacts-list {
  /* margin: 0; */
}

.contacts-list .item-subtitle {
  font-size: 13px;
  color: #777777;
}

.contact-display .item-photo {
  margin: 20px;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  display:inline-block;
}
.contact-display .item-photo img {
  width: 100px;
  height: 100px;
  border-radius: 41px;
  display: block;
}


.contact-display .header-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.contact-display .header-text .fa-star {
  position: absolute;
  left: 112px;
  top: 80px;
  color: #ffc107;
  font-size: 16px;
}

.contact-display .header-text h3 {
  font-weight: 500;
  margin-bottom: 0em;
}

.contact-display .header-text p {
  margin-top: 0.5em;
}

.contact-display .list-block {
  margin-top: 0px;
}

.contact-display .list-block ul {
  border-top: 0px;
  border-bottom: 0px;
}

.contact-display .list-block ul .item-media {
  padding-top: 4px;
  padding-bottom: 4px;
}

.contact-display .list-block ul .item-media i {
  font-size: 24px;
  color: #007aff;
}
.contact-edit .page-content{
  padding-top:10px;
}

.contact-edit .avatar{
  max-width:200px;
  max-height:100px;
}
.contact-edit .avatar{
  cursor:pointer
}
.contact-edit .fileUpload {
    position: absolute;
    overflow: hidden;
    /* margin: 10px; */
    visibility: hidden;
    /* z-index: 10; */
}
/*.contact-edit .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}*/

@media all and (max-width: 480px) {
  .hide-narrow {
    display: none;
  }
}

input:required:invalid,input:required:focus:invalid,textarea:required:invalid,textarea:required:focus:invalid,
input:invalid,input:invalid,textarea:invalid,textarea:invalid {
    background: none !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT1JREFUeNpi/P//PwMpgImBRMACY/x7/uDX39sXt/67cMoDyOVgMjBjYFbV/8kkqcCBrIER5KS/967s+rmkXxzI5wJiRSBm/v8P7NTfHHFFl5mVdIzhGv4+u///x+xmuAlcdXPB9KeqeLgYd3bDU2ZpRRmwH4DOeAI07QXIRKipYPD35184/nn17CO4p/+cOfjl76+/X4GYAYThGn7/g+Mfh/ZZwjUA/aABpJVhpv6+dQUjZP78Z0YEK7OezS2gwltg64GmfTu6i+HL+mUMP34wgvGvL78ZOEysf8M1sGgZvQIqfA1SDAL8iUUMPIFRQLf+AmMQ4DQ0vYYSrL9vXDz2sq9LFsiX4dLRA0t8OX0SHKzi5bXf2HUMBVA0gN356N7p7xdOS3w5fAgcfNxWtn+BJi9gVVBOQfYPQIABABvRq3BwGT3OAAAAAElFTkSuQmCC) !important;
    background-position: right top !important;
    background-repeat: no-repeat !important;
    box-shadow: none !important;
}

input:required:valid,textarea:required:valid,
/*input:valid,textarea:valid,*/
input:valid,textarea:pattern:valid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZZJREFUeNpi/P//PwMpgImBRMAy58QshrNPTzP8+vOLIUInisFQyYjhz98/DB9/fmT48/+35v7H+8KNhE2+WclZd+G0gZmJmYGThUNz1fUVMZtvbWT59eUXG9wGZIWMUPj993eJ5VeWxuy8veM/CzPL3yfvH/9H0QBSBDYZyOVm4mGYfn6q4cory5lYmFh+MrEwM/76/YsR7mk2ZjbWP///WP37/y8cqIDhx58fjvtu7XV6//ndT34G/v8FasUsDjKO/+A2PP3wpGLd+TVsfOz8XH6KAT+nHpokcu7h6d9q/BoMxToVbBYqlt9///+1GO4/WVdpXqY/zMqXn13/+vTjI9mj94/y//v9/3e9ZRObvYbDT0Y2xnm///x+wsfHB3GSGLf41jb3rv0O8nbcR66d+HPvxf2/+YZFTHaqjl8YWBnm/vv37yly5LL8+vuLgYuVa3uf/4T/Kd8SnSTZpb6FGUXwcvJxbAPKP2VkZESNOBDx8+9PBm4OwR1TwmYwcfzjsBUQFLjOxs52A2YyKysrXANAgAEA7buhysQuIREAAAAASUVORK5CYII=) !important;
    background-position: right top !important;
    background-repeat: no-repeat !important;
}
input[type=text], textarea {
  /* -webkit-transition: all 0.30s ease-in-out; */
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}