<div class="page-header">
	<h2>{{'options_tab_bypass' | tr}}</h2>
</div>
<section class="settings-group">
	<h3>{{'options_group_bypassList' | tr}}</h3>
	<p class="help-block">{{'options_bypassListHelp' | tr}}</p>
	<p class="help-block">
		<a href="https://developer.chrome.com/extensions/proxy#bypass_list"
			target="_blank">{{'options_bypassListHelpLinkText' | tr}}</a>
	</p>
	<textarea rows="10" ng-model="options[&quot;-bypassList&quot;]"
		ng-model-options="{updateOn:'blur'}"
		class="monospace form-control width-limit"></textarea>
</section>
<p id='initFooter'>
	For more information about our service please visit <a
		href="http://browserproxy.chicago1.proxee.net/">Proxee.net</a>.