@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	/* src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');*/
	src: url('fonts/Pacifico-Regular.woff2') format('woff2');
}