body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

.form-settings {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-settings .form-settings-heading, .form-settings input, .form-settings button {
	margin-bottom: 10px;
}